# Awesome-UVX

<div align="center">
    <img width="500" height="350" src="https://github.com/sindresorhus/awesome/raw/main/media/logo.svg" alt="Awesome">
    <br>
    <a href="https://awesome.re">
        <img src="https://awesome.re/badge.svg" alt="Awesome">
    </a>
    <p>A collection of Awesome Python CLI Tools available from UVX/PIPX.</p>
    <p>you can use this list to find useful Python CLI tools that are available for installation via UVX or
    PIPX. The list is curated and maintained by the community, so feel free to contribute by adding your
    own favorite tools.</p>
    <p>
        <img src="https://img.shields.io/github/contributors/carlosferreyra/awesome-uvx" alt="Contributors">
        <img src="https://img.shields.io/github/license/carlosferreyra/awesome-uvx" alt="License">
        <img src="https://badges.pufler.dev/visits/carlosferreyra/awesome-uvx" alt="Visits">
        <img src="https://img.shields.io/github/stars/carlosferreyra/awesome-uvx" alt="Stars">
    </p>
    <a href="https://github.com/carlosferreyra/awesome-uvx/actions/workflows/ci.yml">
        <img src="https://github.com/carlosferreyra/awesome-uvx/actions/workflows/main.yml/badge.svg" alt="Test Packages">
    </a>
</div>

## Contents

{% for section_name, section in sections.items() %}
- [{{ section_name }}](#{{ section.slug }})
{% endfor %}

{% for section_name, section in sections.items() %}
## {{ section_name }}

| Name | Description | Executable(s) |
|:-----|:------------|:--------------|
{% for pkg_name, pkg in section.items() %}{% if pkg_name != "slug" %}| [{{ pkg_name }}]({{ pkg.url }}) | {{ pkg.description }} | {% for exec in pkg.execs %}```{{ exec }}```{% if not loop.last %}, {% endif %}{% endfor %} |
{% endif %}{% endfor %}

{% endfor %}

## Contributing

Feel free to contribute by opening a pull request with your favorite Python CLI tools that can be
installed via UVX or PIPX!
Please make sure to follow the [contribution guidelines](CONTRIBUTING.md) and adhere to the
[code of conduct](CODE_OF_CONDUCT.md).
Please also check the [issues](https://github/carlosferreyra/awesome-uvx/issues) for any open
issues or discussions related to the project.

## License

This project is licensed under the MIT License - see the [LICENSE](LICENSE) file for details.